<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 

    <ros2_control name="GazeboSystem" type="system">
        <hardware>
            <plugin>gazebo_ros2_control/GazeboSystem</plugin>
        </hardware>

        <!-- ROTATION JOINTS -->

        <joint name="fl_rotation_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="fr_rotation_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rl_rotation_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="rr_rotation_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>


        <!-- WHEEL JOINTS -->

        <joint name="fl_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="fr_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="rl_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-3.14</param>
                <param name="max">3.14</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>

        <joint name="rr_wheel_joint">
            <command_interface name="velocity">
                <param name="min">-10</param>
                <param name="max">10</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
        </joint>


        <!-- CAMERA JOINTS -->

        <joint name="camera_base_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">0.0</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="right_camera_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.6</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>

        <joint name="left_camera_joint">
            <command_interface name="position">
                <param name="min">-1.57</param>
                <param name="max">1.57</param>
            </command_interface>
            <state_interface name="position">
                <param name="initial_value">1.5</param>
            </state_interface>
            <state_interface name="velocity" />
            <state_interface name="effort" />
        </joint>
    </ros2_control>


    <!-- GAZEBO PLUGINS -->

    <gazebo>
        <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
            <parameters>$(find marinero_simulations)/config/controllers.yaml</parameters>
        </plugin>
    </gazebo>

    <!-- <gazebo>
        <plugin name="marinero_robot_joint_state" filename="libgazebo_ros_joint_state_publisher.so">
            <ros>
                <remapping>~/out:=/joint_states</remapping>
            </ros>
            <update_rate>100</update_rate>
            <joint_name>fl_rotation_joint</joint_name>
            <joint_name>fr_rotation_joint</joint_name>
            <joint_name>rl_rotation_joint</joint_name>
            <joint_name>rr_rotation_joint</joint_name>
            <joint_name>fl_wheel_joint</joint_name>
            <joint_name>fr_wheel_joint</joint_name>
            <joint_name>rl_wheel_joint</joint_name>
            <joint_name>rr_wheel_joint</joint_name>
            <joint_name>camera_base_joint</joint_name>
            <joint_name>left_camera_joint</joint_name>
            <joint_name>right_camera_joint</joint_name>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin name="libgazebo_ros_p3d" filename="libgazebo_ros_p3d.so">
            <ros>
                <namespace>/</namespace>
                <remapping>odom:=/marinero/odom</remapping>
            </ros>
            <frame_name>map</frame_name>
            <body_name>base_link</body_name>
            <update_rate>100</update_rate>
            <xyz_offset>0 0 -1.26</xyz_offset>
            <gaussian_noise>0.01</gaussian_noise>
        </plugin>
    </gazebo>


    <gazebo reference="chassis">
        <mu1>1.0</mu1>
        <mu2>1.0</mu2>
        <mesh>model://marinero_simulations/robot_description/meshes/MARINERO_chassis_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="fl_wheel">
        <mu1>2.0</mu1>
        <mu2>2.0</mu2>
        <material>Gazebo/Black</material>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="fr_wheel">
        <mu1>2.0</mu1>
        <mu2>2.0</mu2>
        <material>Gazebo/Black</material>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="rl_wheel">
        <mu1>2.0</mu1>
        <mu2>2.0</mu2>
        <material>Gazebo/Black</material>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="rr_wheel">
        <mu1>2.0</mu1>
        <mu2>2.0</mu2>
        <material>Gazebo/Black</material>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="fl_axle_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_Assembly_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="fr_axle_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_Assembly_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="rl_axle_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_Assembly_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="rr_axle_link">
        <mu1>0.5</mu1>
        <mu2>0.5</mu2>
        <mesh>model://marinero_simulations/robot_description/meshes/Wheel_Assembly_FINAL.dae</mesh>
    </gazebo>

    <gazebo reference="camera_base">
        <mu1>5.0</mu1>
        <mu2>5.0</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="left_camera_link">
        <mu1>5.0</mu1>
        <mu2>5.0</mu2>
        <material>Gazebo/Grey</material>
    </gazebo>

    <gazebo reference="right_camera_link">
        <mu1>5.0</mu1>
        <mu2>5.0</mu2>
        <material>Gazebo/Grey</material>
    </gazebo>

</robot>