<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="wheel_length" value="0.045" />
    <xacro:property name="wheel_radius" value="0.1016" />
    <xacro:property name="wheel_mass" value="1.5" />
    <xacro:property name="axle_length" value="0.1234" />
    <xacro:property name="axle_radius" value="0.035" />
    <xacro:property name="axle_mass" value="1.5" />

    <material name="black">
        <color rgba="0.0 0.0 0.0 1.0"/>
    </material>

    <material name="dark">
        <color rgba="0.3 0.3 0.3 1.0"/>
    </material>

    <material name="light_black">
        <color rgba="0.4 0.4 0.4 1.0"/>
    </material>

    <material name="blue">
        <color rgba="0.0 0.0 1.0 1.0"/>
    </material>

    <material name="red">
        <color rgba="0.8 0.0 0.0 1.0" />
    </material>

    <gazebo reference="chassis">
        <material>Gazebo/Blue</material>
    </gazebo>

    <gazebo reference="fl_wheel">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="fr_wheel">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="rl_wheel">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="rr_wheel">
        <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="fl_axle_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="fr_axle_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rl_axle_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="rr_axle_link">
        <material>Gazebo/Black</material>
    </gazebo>

    <gazebo reference="lidar_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="camera_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <xacro:macro name="inertial_sphere" params="mass radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(2/5) * mass * (radius*radius)}" ixy="0.0" ixz="0.0"
                    iyy="${(2/5) * mass * (radius*radius)}" iyz="0.0"
                    izz="${(2/5) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>  

    <xacro:macro name="inertial_box" params="mass x y z *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (y*y+z*z)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (x*x+z*z)}" iyz="0.0"
                    izz="${(1/12) * mass * (x*x+y*y)}" />
        </inertial>
    </xacro:macro>

    <xacro:macro name="inertial_cylinder" params="mass length radius *origin">
        <inertial>
            <xacro:insert_block name="origin"/>
            <mass value="${mass}" />
            <inertia ixx="${(1/12) * mass * (3*radius*radius + length*length)}" ixy="0.0" ixz="0.0"
                    iyy="${(1/12) * mass * (3*radius*radius + length*length)}" iyz="0.0"
                    izz="${(1/2) * mass * (radius*radius)}" />
        </inertial>
    </xacro:macro>
    
</robot>
